lwallpaperGUI/ffmpeg/bin/*.dll filter=lfs diff=lfs merge=lfs -text
lwallpaperGUI/ffmpeg/bin/*.exe filter=lfs diff=lfs merge=lfs -text
lwallpaperGUI/ffmpeg/lib/*.lib filter=lfs diff=lfs merge=lfs -text
